@import "dropdown";
@import "toggle";
@import "logo";
@import "user";
@import "notification";

.header {
  background: $header-background;
  color: $header-text-color;
  box-shadow: $header-shadow;
  z-index: $zindex-dropdown;
  position: relative;

  @include media-breakpoint-down(sm) {
    height: 50px;
  }

  a {
    color: $header-text-color;
  }
}
