.chart {
  width: 100%;
  height: auto;
  background: transparent;
  position: absolute;
  @extend .fs;

  &-wrapper {
    position: relative;
    width: 100%;
    padding: 0;

    canvas {
      display: block;
    }

    &:before {
      content: '';
      display: block;
      padding-bottom: 50%;
    }

    .label {
      position: absolute;
      left: 50%;
      top: -10px;
      margin-left: -5%;

      @include media-breakpoint-down(sm) {
        @include font-size(14);
      }

      &-x {
        position: absolute;
        left: -15px;
        bottom: 6px;

        @include media-breakpoint-down(sm) {
          @include font-size(13);
          left: -7px;
          bottom: 9px;
        }
      }

      &-y {
        position: absolute;
        left: -15px;
        top: -15px;

        @include media-breakpoint-down(sm) {
          @include font-size(13);
          left: -7px;
          top: -18px;
        }
      }
    }
  }
}
