@font-face {
  font-family: 'icomoon';
  src:  url('#{$path-fonts}/icomoon.eot');
  src:  url('#{$path-fonts}/icomoon.eot#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/icomoon.ttf') format('truetype'),
        url('#{$path-fonts}/icomoon.woff') format('woff'),
        url('#{$path-fonts}/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: "\e90d";
}
.icon-plug-uk:before {
  content: "\e910";
}
.icon-lock-round:before {
  content: "\e90b";
}
.icon-dashboard:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-link:before {
  content: "\e902";
}
.icon-plug:before {
  content: "\e903";
}
.icon-rank:before {
  content: "\e904";
}
.icon-lens:before {
  content: "\e905";
}
.icon-lock-square:before {
  content: "\e906";
}
.icon-shield-checked:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e908";
}
.icon-arrow:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-domain:before {
  content: "\e90e";
}
.icon-target:before {
  content: "\e90f";
}
.icon-notification-bell:before {
  content: "\e911";
}
.icon-download:before {
  content: "\e912";
}
.icon-speedometer:before {
  content: "\e913";
}
.icon-marker:before {
  content: "\e914";
}
.icon-house:before {
  content: "\e915";
}
.icon-clock:before {
  content: "\e916";
}
.icon-device:before {
  content: "\e917";
}
