.tile {
  width: 33.3333%;
  padding: 0 20px;
  margin: 0 0 40px 0;

  @include media-breakpoint-down(md){
    width: 50%;
  }

  @include media-breakpoint-down(sm){
    width: 100%;
    padding: 0 10px;
    margin: 0 0 15px 0;
  }

  &-row {
    @extend .row;
    margin: 0 -20px;

    @include media-breakpoint-down(sm) {
      margin: 0 -10px;
    }
  }

  &-chart {
    width: 66.6666%;

    @include media-breakpoint-down(md){
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
    }

    .tile-card {
      padding: 30px 30px 30px 50px;

      @include media-breakpoint-down(sm) {
        padding: 10px;
      }
    }

    h4{
      width: 100%;
    }

    p{
      max-width: 630px;
    }
  }

  &-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm){
      padding: 0 15px;
    }
  }

  &-title {
    @extend h4;
    margin: 0 0 15px 0;
  }

  &-card {
    border-radius: $border-radius;
    color: $white;
    padding: 65px 30px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm){
      padding: 35px 15px 30px;
    }

    p {
      color: $white;
      margin-top: 0;
      margin-bottom: 30px;
      flex-grow: 1;
    }

    ul {
      max-width: 230px;
      width: 100%;
      margin: auto 0 45px 0;
      padding: 0;
      list-style: none;
      counter-reset: list;

      @include media-breakpoint-down(sm){
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 25px;
        padding: 0 20px 0 30px;
        text-align: left;
        counter-increment: list;
        width: 100%;
        position: relative;
        @include font-size(17);

        @include media-breakpoint-down(sm){
          margin-bottom: 10px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: counter(list);
          position: absolute;
          top: 2px;
          left: 2px;
          width: 20px;
          height: 20px;
          background: $white;
          border-radius: 100%;
          text-align: center;
          line-height: 20px;
          @include font-size(15);
          font-weight: 700;

          @supports (mix-blend-mode: screen) {
            color: $black !important;
            mix-blend-mode: screen;
          }
        }

        span[class^="icon-"],
        span[class*=" icon-"] {
          position: absolute;
          top: 6px;
          right: 2px;
          transform: rotate(30deg);
          @include font-size(15);
        }
      }
    }

    .btn-white{
      margin: 0;
    }

    .h1{
      @include font-size(35);
      font-weight: 700;
      margin: auto 0 20px;
      padding: 0;
      flex-grow: 0;
    }

    .circle{
      margin: 0 5px 25px;
    }
  }

  &-red {
    .tile-card {
      background: $gradient-red;
      box-shadow: 0 9px 32px 0 rgba(#761518, .36);

      *::selection {
        background: #c21338;
        color: $white;
      }

      ul li:before{
        box-shadow: 0 5px 16px 0 rgba(#c21338, .33);
        color: #f43b4e;
      }
    }

    .circle-white{
      color: #f08835;
    }

    .btn-white{
      box-shadow: 0 5px 16px 0 rgba(#c21338, .33),  0 0 0 0 rgba($white, .2) !important;
      color: #f43b4e;

      &:hover,
      &:focus{
        box-shadow: 0 5px 16px 0 rgba(#c21338, .33), 0 10px 18px 0 rgba($white, .2) !important;
      }
    }
  }

  &-orange {
    .tile-card {
      background: $gradient-orange;
      box-shadow: 0 9px 32px 0 rgba(#6e4013, .36);

      *::selection {
        background: #65320e;
        color: $white;
      }

      ul li:before{
        box-shadow: 0 5px 16px 0 rgba(#65320e, .33);
        color: #ff5a00;
      }
    }

    .circle-white{
      color: #facf24;
    }

    .btn-white{
      box-shadow: 0 5px 16px 0 rgba(#65320e, .33),  0 0 0 0 rgba($white, .2) !important;
      color: #ff5a00;

      &:hover,
      &:focus{
        box-shadow: 0 5px 16px 0 rgba(#65320e, .33), 0 10px 18px 0 rgba($white, .2) !important;
      }
    }
  }

  &-green {
    .tile-card {
      background: $gradient-green;
      box-shadow: 0 9px 32px 0 rgba(#1b5813, .27);

      *::selection {
        background: #197728;
        color: $white;
      }

      ul li:before{
        box-shadow: 0 5px 16px 0 rgba(#197728, .33);
        color: #19af44;
      }
    }

    .circle-white{
      color: #9adb37;
    }

    .btn-white{
      box-shadow: 0 5px 16px 0 rgba(#197728, .33),  0 0 0 0 rgba($white, .2) !important;
      color: #19af44;

      &:hover,
      &:focus{
        box-shadow: 0 5px 16px 0 rgba(#197728, .33), 0 10px 18px 0 rgba($white, .2) !important;
      }
    }
  }

  &-blue {
    .tile-card {
      background: $gradient-blue;
      box-shadow: 0 9px 32px 0 rgba(#3c88c3, .36);

      *::selection {
        background: darken(#158dff, 20%);
        color: $white;
      }
    }
  }

  &-purple {
    .tile-card {
      background: $gradient-purple;
      box-shadow: 0 9px 32px 0 rgba(#cc2222, .23);

      *::selection {
        background: darken(#bb29c8, 20%);
        color: $white;
      }

      .circle-white{
        color: #3d4bfc;
      }
    }
  }
}
