.footer-logo{
  margin-bottom: 15px;

  img{
    max-width: 150px;
    display: block;
    font-weight: 700;
    @include font-size(20);

    @include media-breakpoint-down(md){
      margin: 0 auto 15px;
    }
  }
}
