.footer-form{

  &-title{
    margin: 0 0 23px 0;
    padding-left: 8px;
    @include font-size(17);
    font-weight: 600;
  }

  .form-group{
    *::selection {
      background: lighten(#6337c7, 10%);
      color: $white;
    }

    .form-control{
      margin-bottom: 22px;
      box-shadow: 0 9px 21px 0 rgba(#100b57, .25);

      &:invalid{
        box-shadow: 0 9px 21px 0 rgba(#100b57, .25), 0 5px 15px 0 rgba(255,0,0,.3);
      }

      &:valid{
        box-shadow: 0 9px 21px 0 rgba(#100b57, .25);
      }
    }

    .btn-secondary{
      float: right;
      min-width: 152px;
      min-height: 35px;
      box-shadow: 0 9px 21px 0 rgba(#100b57, .25) !important;
    }
  }
}
