@import "content";
@import "menu";
@import "form";
@import "copyright";

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 -15px;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }

  & > * {
    padding: 0 15px;
    width: 100%;
  }

  .footer {
    &-content {
      max-width: 360px;
      flex-grow: 1;
      margin-left: 0;
      margin-right: auto;

      @include media-breakpoint-down(md) {
        max-width: 100%;
        text-align: center;
      }
    }

    &-menu {
      max-width: 150px;
      margin-right: 46px;
      margin-left: 0;

      @include media-breakpoint-down(lg) {
        margin-right: 15px;
      }

      @include media-breakpoint-down(md) {
        max-width: 50%;
        text-align: center;
        margin: 15px 0 0;
      }

      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }

    &-form {
      max-width: 400px;

      @include media-breakpoint-down(md) {
        max-width: 100%;
        margin: 20px 0 0;
      }
    }
  }
}


.footer {
  background: $gradient-purple-dark;
  color: $footer-text-color;

  @include media-breakpoint-down(sm){
    @supports (-webkit-overflow-scrolling: touch) {
      -webkit-mask-image: -webkit-gradient(linear, 0% 95%, 0% 100%, from(black), to(rgba(0, 0, 0, 0)));
    }
  }

  *::selection {
    background: #101667;
    color: $white;
  }

  &.overlap {
    padding: 200px 0 0 0;
    margin: -150px 0 0 0;
  }

  p {
    color: $footer-text-color;
  }

  a {
    @include font-size(17);
    font-weight: 600;
    color: $footer-link-color;
  }
}
